# Ignorar todo por defecto
*

# Permitir solo archivos .py
!*.py

# Excepciones específicas (opcional)
!.gitignore
!README.md

# Ignorar directorios y archivos específicos
best_model.keras
datasets/
Include/
Lib/
Scripts/
pyvenv.cfg
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log
*.swp
.DS_Store